.popup {

	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, .80);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;

	&__content {
		@include absCenter;
		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: .3rem;
		display: table;
		overflow: hidden;
		opacity: 0;
		transform: translate(-50%, -50%) scale(.25);
		transition: all .5s .2s;
	}

	&__left {
		width: 33.33333%;
		display: table-cell;
	}

	&__right {
		width: 66.33333%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
	}

	&__img {
		width: 100%;
		display: block;
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;

		column-count: 2;
		column-gap: 4rem; //default column-gap is 1em = 14px in this case
		column-rule: .1rem solid $color-gray-light-2;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}


	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&__close {
		&:link,
		&:visited {
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			color: $color-gray-dark;
			font-size: 3rem;
			display: inline-block;
			text-decoration: none;
			line-height: 1rem;
			transition: all .2s;
		}

		&:hover {
			color: $color-primary;
		}
	}
}